<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\EDO.Data.EFModelCommon\packages.config" />
  <repository path="..\src\EDO.Data.MongoModelDocs\packages.config" />
  <repository path="..\src\EDO.Framework.Data.EFModelCommon\packages.config" />
  <repository path="..\src\EDO.UI.WebUI\packages.config" />
</repositories>