/* JQuery Validation */
.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

/* Top UserInformer styles */
.top-userInformer {
    background-color: #FFFED4;
    text-align: right;
    border: solid 1px #E6E5BF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 4px;
}

    .top-userInformer .top-userInformerItem {
        padding: 0px 0px 2px 0px;
        font-size: 10px;
    }

        .top-userInformer .top-userInformerItem:nth-child(1) {
            font-weight: bold;
        }

.top-userInformerButtonPanel {
    background-color: transparent;
}

    .top-userInformerButtonPanel * {
        background-color: transparent;
        border: none;
        color: black;
        font-weight: normal;
    }
